* {
    border: none;
    font-family: monospace;
    border-radius: 1.11em 1.11em 1.11em 1.11em;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    font-size: 1em;
}

/* left */
#pulseaudio,
#backlight,
#network,
#bluetooth {
    margin-left: 0.6em;
}

/* right */
#cpu,
#memory,
#disk,
#battery {
  margin-right: 0.6em;
}

/* common */
#pulseaudio,
#backlight,
#bluetooth,
#network,
#clock,
#cpu,
#memory,
#disk,
#battery {
    padding: 0.5em 1em 0.5em 1em;
    opacity: 0.8;
    margin-top: 0.56em;
    margin-bottom: 0.56em;
}

#pulseaudio,
#bluetooth,
#network,
#backlight,
#cpu,
#memory,
#disk,
#battery {
    background-color: #2a2a2a;
}

#clock {
    background-color: #2a2a2a;
    font-weight: bold;
}

#battery.charging {
    background-color: #2a4a2a;
}

#battery.warning:not(.charging) {
    background-color: #4a3a2a;
}

#battery.critical:not(.charging) {
    background-color: #4a2a2a;
}
